@import '../app/_variables';

.title {
  background-image: url('icon48.png');
  background-repeat: no-repeat;
  background-position: 0 30%;
  padding-left: 70px;
  margin-top: 20px;
}

.changelog {
  position: relative;
}

.changelog__date {
  font-size: 0.8em;
  position: absolute;
  right: 0;
  top: 15px;
}
