<!DOCTYPE html>
<html>
<head>
  <title>BetterCupid Options</title>
  <link rel="stylesheet" type="text/css" href="app.css" />
  <link rel="stylesheet" type="text/css" href="options.css" />
</head>
<body>
  <div class="page" style="display: none">
    <header>
      <h1>BetterCupid Options</h1>
    </header>
    <button type="button" class="btn reset-btn" data-open-drawer="reset-confirmation">
      Reset Settings
    </button>
    <nav>
      <ul class="tabgroup">
        <li>
          <button type="button" class="tabgroup__tab" data-open-drawer="settings">
            Settings
          </button>
        </li>
        <li class="float-right">
          <button type="button" class="tabgroup__tab" data-open-drawer="about">
            About
          </button>
        </li>
        <li class="float-right">
          <button type="button" class="tabgroup__tab" data-open-drawer="changelog">
            Changelog
          </button>
        </li>
      </ul>
    </nav>
    <div class="tabgroup__content">
      <section class="tabgroup__section" data-drawer="settings" data-drawer-key="page-section">
        <div class="section-nav">
          <div class="section-nav__title">Modules</div>
          <ul class="section-nav__menu">
            {% for module in manifest.modules %}
              <li class="section-nav__tab" data-open-drawer="module-{{module.id}}">
                {{module.name}}
                {% if not module.required %}
                  <span class="module-enabled-switch {% if module.enabled %}is-enabled{% endif %}" data-module="{{module.id}}">
                    {% if module.enabled %}
                      Enabled
                    {% else %}
                      Disabled
                    {% endif %}
                  </span>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="section-nav-content">
          {% for module in manifest.modules %}
            <div class="module-settings-section" data-drawer="module-{{module.id}}" data-drawer-key="module-settings">
              <h2>{{module.name}}</h2>
              <p>{{module.description}}</p>
              {% if module.depends.length %}
                <div>Depends On:</div>
                <ul>
                  {% for dep in module.depends %}
                    <li>{{dep.name}}</li>
                  {% endfor %}
                </ul>
              {% endif %}
              {{ module.contents.options }}
            </div>
          {% endfor %}
        </div>
      </section>
      <section data-drawer="about" data-drawer-key="page-section"></section>
      <section data-drawer="changelog" data-drawer-key="page-section"></section>
    </div>
  </div>
  
  <div data-drawer="reset-confirmation" class="modal">
    <div class="modal-backdrop" data-close-drawer></div>
    <div class="modal-dialog">
      <div class="instructions">
        <div class="page-text">
          You can choose to reset all of your settings or just the settings on the current page.
          Please choose carefully. This action cannot be undone.
        </div>
        <div class="all-text">
          This action will reset all of your settings. If you'd like to reset just a particular page
          of settings, please navigate to that page and push the "Reset Settings" button again.
          Please choose carefully. This action cannot be undone.
        </div>
      </div>
      <div class="buttons">
        <button id="reset-page-button" class="btn">Reset Page</button>
        <button id="reset-all-button" class="btn">Reset All</button>
      </div>
    </div>
  </div>
  
  <script src="app.js"></script>
  <script src="options.js"></script>
</body>
</html>