#people-summary {
  margin: 30px;
}

.category-summary {
  display: inline-block;
}

.category-summary table {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

.category-summary table th {
  background-color: #183b62;
  border: 1px solid #061e38;
  color: white;
  padding: 0px 10px;
}

.category-summary table td {
  border: 1px solid #183b62;
  padding: 0px 5px;
  text-align: center;
}

.category-summary .filter-choice {
  background-color: #fff;
  color: #555;
  cursor: pointer;
}

.category-summary .filter-choice:hover {
  background-color: #cecece;
}

.category-summary .filter-choice.active {
  color: #f83265;
}

#people-counts {
  color: #2963a4;
  font-weight: bold;
  margin: 10px;
}

#people-counts .current {

}

#people-counts .current.filtered {
  color: #f83265;
}

#people-counts .max {
  display: none;
}

#people-counts .max.filtered {
  display: inline;
}
