$color-primary: #4978db;
$color-secondary: #142d69;
$color-highlight: #f83265;
$color-subtle: #676869;
$color-black: #161616;
$color-darker: #242526;
$color-dark: #3c3f41;
$color-light: #aeaeae;
$color-lighter: #c5c5c5;
$color-white: #eeeeee;
$color-success: #2d4c26;
$color-error: #42232a;
$color-warning: #dbbe48;
