@import '_variables';

.navbar {
  display: block;

  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

.navbar--stacked {
  background-color: $color-white;
}

.navbar--stacked .nav {
  width: 100%;
}

.navbar--stacked .nav__item {
  display: block;
  position: relative;
}

.navbar--stacked .navbar__title,
.navbar--stacked .nav__action {
  display: block;
  line-height: 38px;
  padding-left: 8px;
  padding-right: 96px;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.navbar--stacked .navbar__title {
  border-bottom: 1px solid $color-lighter;
  margin-bottom: 8px;
}

.navbar--stacked .nav__item .toggle-switch-container {
  position: absolute;
  right: 8px;
  top: 2px;
}

.navbar--stacked .nav__action.is-open {
  background-color: $color-primary;
  color: $color-white;
  outline: 0;

  &:before {
    content: "";
    border: 19px solid $color-primary;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-style: none;
    border-right-width: 8px;
    height: 0;
    left: -8px;
    position: absolute;
    top: 0;
    width: 0;
  }
}

.navbar--tabs {
  border-bottom: 1px solid $color-dark;
}

.navbar--tabs .nav {
  margin-left: 8px;
}

.navbar--tabs .nav--right {
  margin-right: 8px;
}

.navbar--tabs .nav__item {

}

.navbar--tabs .nav__action {
  color: $color-white;
  display: block;
  padding: 8px 16px 2px 16px;
}

.navbar--tabs .nav__action.is-open {
  background-color: $color-white;
  border: 1px solid $color-dark;
  border-bottom-style: none;
  color: $color-secondary;
  outline: 0;
  padding-top: 7px;
  position: relative;
  top: 1px;
  z-index: 1;
}

.panel .navbar--tabs {
  margin-top: 32px;
  margin-bottom: 16px;
}

.panel .navbar--tabs .nav__action {
  color: $color-light;
}

.panel .navbar--tabs .nav__action.is-open {
  color: $color-dark;
}
