.bc-photo-browser {
  #matches_block {
    height: auto;

    .item {
      height: 190px;
    }

    .item.refresh {
      bottom: 35px;
      height: 10px;
      left: 20px;
      margin: 0;
      padding: 0 5px;
      position: absolute;
      width: 495px;

      & > a {
        height: 30px;
        padding: 0;
        width: 100%;
      }
    }
  }

  #matchphotobrowserbg {
    display: none;
  }

  #matches_refresh {

  }

  .photobrowser {
    visibility: hidden;

    &.bc-photo-browser {
      visibility: visible;
    }

    .scrollbar,
    .thumbnails {
      display: none;
    }

    .bc-photo-browser-hide,
    .bc-photo-browser-unhide {
      display: block;
      margin: 0 auto;
      width: 50px;
      text-align: center;
    }

    .bc-photo-browser-unhide {
      display: none;
    }

    .bc-photo-browser-items {
      height: 216px;
      margin: 0;
      position: relative;
      width: 100%;
    }

    .bc-photo-browser-item {
      position: absolute;
      right: 0;
    }

    .bc-photo-browser-improve {
      bottom: 14px;
      left: 30px;
    }

    .bc-photo-browser-more {
      bottom: 14px;
      right: 235px;
    }

    .bc-photo-browser-thumbnail-holder {
      left: 20px;
      position: absolute;
      right: 210px;
      top: 20px;
    }

    .bc-photo-browser-thumbnail {
      height: 79px;
      margin: 0 6px 6px 0;
      width: 79px;
    }

    .bc-photo-browser-anchor {
      display: inline-block;
    }
  }
}
